$nkp-rosewater: #f5e0dc;
$nkp-flamingo: #f2cece;
$nkp-pink: #f5c2e7;
// Based on #CB00C3
$nkp-fuchsia: #f5c2f3;
$nkp-mauve: #cba6f7;
$nkp-red: #f38ba8;
$nkp-maroon: #eba0ac;
$nkp-peach: #fab387;
$nkp-yellow: #f9e2af;
$nkp-green: #a6e3a1;
$nkp-teal: #94e2d5;
$nkp-sky: #89dceb;
$nkp-sapphire: #74c7ec;
$nkp-lavender: #b4befe;
$nkp-blue: #89b4fa;
$nkp-text: #cab4ee;
$nkp-subtext1: #b7a5d4;
$nkp-subtext0: #a393bd;
$nkp-overlay2: #8779a0;
$nkp-overlay1: #7b6d8d;
$nkp-overlay0: #675d74;
$nkp-surface2: #534a5e;
$nkp-surface1: #3f3748;
$nkp-surface0: #2b2432;
$nkp-base: #18111c;
$nkp-mantle: #0e0a10;
$nkp-crust: #030203;
